.montserrat-head {
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: none;
  font-weight: 899;
  font-style: bolder;
  color: darkgoldenrod;
}
.header-row{
  background-color: #071018;
  margin: 0;
  
}
.bg-color{
  background-color: white;
}